/* size adjustments for icons */
.fa-warehouse {
font-size: 25px;
}
.fa-box {
font-size: 25px;
}
.fa-truck {
 font-size: 25px;   
}
.fa-bolt-lightning {
  font-size: 25px;  
}

/* positions for text */
.homepage {
  position:relative;
  left:30px; 
}
.paragraph {
  position:relative;
  left:30px;
}

/* image positions */
.truck {
  position:relative;
  width:100%;
  right:30px;
}
.opslag {
  position:relative;
  bottom:241px;
  left:120px;
}

.paperwork {
  position:relative;
  bottom:482px;
  left:360px;
}

/* Decoration for the navbar */
.container-fluid {
  background-image: url(navbarimage.jpg);
  background-size:1500px;
}

.nav-link {
  color:black;
}

.form-group {
  max-width: 200px;
}

